name: Update template
on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: template-sync
  cancel-in-progress: true

env:
  TEMPLATE_URL: https://github.com/SublimationApp/sublimationapp.github.io


jobs:
  update-template:
    runs-on: ubuntu-latest
    if: ${{ !github.event.repository.is_template }}
    # if: |
    #   ${{
    #     !github.event.repository.is_template &&
    #     (
    #       (github.event_name == 'push' && !contains(github.event.head_commit.message, '--skip-ci')) ||
    #       (github.event_name == 'pull_request' && !contains(github.event.pull_request.title, '--skip-ci'))
    #     )
    #   }}

    steps:

    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    
    - name: Configure Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    # 1. Enable sparse checkout (ZIPs hidden for this job)
    - name: Enable sparse checkout
      run: |
        git sparse-checkout init --no-cone
        cat > .git/info/sparse-checkout <<EOF
        /*
        !**/*.zip
        EOF

    # 2. Protect config.json from template updates
    - name: Protect config.json
      run: |
        git update-index --skip-worktree dist/config.json

    # 3. Fetch and merge template
    - name: Fetch & merge template
      run: |
        git remote add template $TEMPLATE_URL || true
        git fetch template
        # Try to merge
        if git merge  -X ours  template/main --allow-unrelated-histories --no-edit; then
          echo "Merge successful"
          git push origin HEAD
        else
          echo "Merge conflicts detected. Please resolve manually."
          git merge --abort
          exit 1
        fi




